/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f5f5f5, #e0e0e0); /* Soft gradient background */
}

header {
  text-align: center;
  padding: 60px 20px;
  background-color: #f2f6c3;
  color: rgb(0, 0, 0);
}

header h1 {
  margin: 0;
}

header p {
  margin: 10px 0 0;
}

nav {
  position: fixed;
  top: 0%; /* Adjust this value to match the height of your header */
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  transition: background-color 0.3s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #f70707;
  color: #ffffff;
}

section {
  padding: 40px 20px;
  margin-top: 60px; /* Adjust this if needed */
  background-color: #96ead7; /* Light gray background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



section h2 {
  margin-top: 0;
  color: #333;
}

.menu-item {
  background: #f2f6c3;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
  margin-top: 0;
}

.menu-item p {
  margin: 5px 0;
}

.menu-item span {
  font-weight: bold;
  color: #000000;
}

footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}
